*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contaner{
    margin-inline: auto;
    width: 100vw;
    height: 100vh;
    padding: 3%;
}
.header,.nav,.group,.aside2,.footer ,.main-right {
    background-color:rgba(173, 170, 170,0.830);
    margin-top: 1vw;
    text-align: center;
    font-size: large;
    border-radius: 2rem;

    
    
   
}
.header,.nav,.aside2,.footer{
    padding: 30px;
}
.group{
    width: 49%;
    padding: 90px;
    margin-right: 2px;
    display: inline-block;
}

.main-right{
    width: 49%;
    float: right;
   
    padding: 70px;
    
    
}
.section{
    display: inline-block;
    height: 25%;
    width: 100%;
    
    
    text-align: center;
}
.aside{
    height: 25%;
    width: 100%;
    margin-bottom: 10px;
    margin: 5px solid white;
    text-align: center;
     float: top; 
   
}






