*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    background:url();
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: black;
    color: white;
    padding: 15px;

}
ul{
    display: flex;
    
    gap: 20px;
}
li{
    list-style: none;
}
.icon {
    gap: 30px;
    display: flex;
    justify-content: end;
}
a{
    text-decoration: none;
    background-color: red;
    padding: 10px;
    border-radius: 50px;
}
i{
    margin-top: 12px;
}
.container{
    width: 100%;
    height: 90vh;
    background: linear-gradient(90deg, #ec098a48, #ec098a48),url(https://media.istockphoto.com/id/1358965099/photo/senior-couple-hugging-in-a-nursing-home-a-happy-senior-couple-standing-next-to-a-window-in-a.jpg?b=1&s=170667a&w=0&k=20&c=i6aR4UxxSn7gy6eiTwQ-csGcZvQFY2805Dd4AnJTdpc=);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 3rem;
    margin-bottom: 50px;
    color: white;
}
p{
    color: white;
}
i{
    display: none;
}
i:hover{
    color: blue;
}

@media only screen and (max-width:600px) {
    ul{
        display: none;
    }
    a{
        display: none;
    }
    i{
        display: flex;
        color: white;
    }
    
    
}

